/*
Using RESTful API to access Baidu Voice-Recognition service.
This config file describes the regulation of calling Baidu's RESTful interfaces.
Since RESTful API is very universal, there is no need to additionally design its calling method.
All of the method can be packaged into system-integrated methods. 
The service of Baidu Voice-Recognition is shown below.

@params
	platform: specializes whether the service is cloud or native
	mac_addr: device unique identifier, mobile device can be IMEI
	api_key: developers' access authorization, it can be gained from the registration page
	secret_key: developers' access authorization, it can be gained from the registration page
	host: uri of Baidu's server
	path: the path of voice data
*/
Baidu_Voice_Recognition
{
	platform="cloud";
	mac_addr="56:84:7a:fe:97:99";
	api_key="YGyI3APWnLGSiIFUWEnhBEoC";
	secret_key="fc4d81ef45486b17da48d6d2e81b65d5";
	host="http://vop.baidu.com/server_api";
	path="test.pcm";
}
